<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>

		<h1>All Cars</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 45 years old</li>
					<li>education years = 14 years</li>
					<li>income = 71701 dollars</li>
					<li>car numbers = 3444 cars</li>
					<li>car ratio = 41%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 31 to 59 years old</li>
					<li>eduation range : from 12 to 16 years</li>
					<li>income range : from 52503 to 90899 dollars</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 49 years old</li>
					<li>education years = 15 years</li>
					<li>income = 180369 dollars</li>
					<li>car numbers = 1292 cars</li>
					<li>car ratio = 15%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 61 years old</li>
					<li>eduation range : from 13 to 17 years</li>
					<li>income range : from 79161 to 281577 dollars</li>
				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 60 years old</li>
					<li>education years = 13 years</li>
					<li>income = 32312 dollars</li>
					<li>car numbers = 1773 cars</li>
					<li>car ratio = 21%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 48 to 72 years old</li>
					<li>education range : from 11 to 15 years</li>
					<li>income range : from 22882 to 41742 dollars</li>				
				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 4" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 33 years old</li>
					<li>education years = 13 years</li>
					<li>income = 16602 dollars</li>
					<li>car numbers = 1152 cars</li>
					<li>car ratio = 13%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 23 to 43 years old</li>
					<li>education range : from 11 to 15 years</li>
					<li>income range : from 6086 to 27118 dollars</li>
					
				</ul>
			</div>
		</div>

			<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 5" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 73 years old</li>
					<li>education years = 13 years</li>
					<li>income = 9735 dollars</li>
					<li>car numbers = 662 cars</li>
					<li>car ratio = 7%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 64 to 82 years old</li>
					<li>education range : from 11 to 15 years</li>
					<li>income range : from 2910 to 16560 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>