<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>BMW</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 49 years old</li>
					<li>education years = 14 years</li>
					<li>income = 39643 dollars</li>
					<li>car numbers = 36 cars</li>
					<li>car ratio = 37%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 33 to 65 years old</li>
					<li>eduation range : from 12 to 16 years</li>
					<li>income range : from 17445 to 61841 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 49 years old</li>
					<li>education years = 14 years</li>
					<li>income = 127015 dollars</li>
					<li>car numbers = 37 cars</li>
					<li>car ratio = 38%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 61 years old</li>
					<li>eduation range : from 13 to 15 years</li>
					<li>income range : from 90084 to 163946 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 42 years old</li>
					<li>education years = 16 years</li>
					<li>income = 341177 dollars</li>
					<li>car numbers = 13 cars</li>
					<li>car ratio = 13%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 32 to 52 years old</li>
					<li>eduation range : from 15 to 17 years</li>
					<li>income range : from 278912 to 403442 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>