<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>Dodge</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 60 years old</li>
					<li>education years = 13 years</li>
					<li>income = 15677 dollars</li>
					<li>car numbers = 113 cars</li>
					<li>car ratio = 23%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 42 to 78 years old</li>
					<li>eduation range : from 12 to 14 years</li>
					<li>income range : from 5582 to 25772 dollars</li>

				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 44 years old</li>
					<li>education years = 13 years</li>
					<li>income = 49394 dollars</li>
					<li>car numbers = 241 cars</li>
					<li>car ratio = 50%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 30 to 58 years old</li>
					<li>eduation range : from 12 to 14 years</li>
					<li>income range : from 32086 to 66702 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 46 years old</li>
					<li>education years = 14 years</li>
					<li>income = 133194 dollars</li>
					<li>car numbers = 121 cars</li>
					<li>car ratio = 25%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 34 to 58 years old</li>
					<li>eduation range : from 13 to 15 years</li>
					<li>income range : from 44268 to 222120 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>