<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>Ford</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 35 years old</li>
					<li>education years = 13 years</li>
					<li>income = 28600 dollars</li>
					<li>car numbers = 331 cars</li>
					<li>car ratio = 24%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 26 to 44 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 14357 to 42843 dollars</li>

				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 48 years old</li>
					<li>education years = 13 years</li>
					<li>income = 79581 dollars</li>
					<li>car numbers = 506 cars</li>
					<li>car ratio = 37%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 36 to 60 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 60222 to 98940 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 66 years old</li>
					<li>education years = 13 years</li>
					<li>income = 23394 dollars</li>
					<li>car numbers = 377 cars</li>
					<li>car ratio = 28%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 56 to 76 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 8953 to 37835 dollars</li>

				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 4" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 49 years old</li>
					<li>education years = 14 years</li>
					<li>income = 199902 dollars</li>
					<li>car numbers = 121 cars</li>
					<li>car ratio = 9%</li>
				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 61 years old</li>
					<li>eduation range : from 12 to 16 years</li>
					<li>income range : from 62214 to 337590 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>