<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>GMC</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 58 years old</li>
					<li>education years = 12 years</li>
					<li>income = 23746 dollars</li>
					<li>car numbers = 97 cars</li>
					<li>car ratio = 40%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 42 to 74 years old</li>
					<li>eduation range : from 11 to 13 years</li>
					<li>income range : from 11283 to 36209 dollars</li>
					
				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 44 years old</li>
					<li>education years = 13 years</li>
					<li>income = 76806 dollars</li>
					<li>car numbers = 117 cars</li>
					<li>car ratio = 48%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 32 to 56 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 54320 to 99292 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 47 years old</li>
					<li>education years = 15 years</li>
					<li>income = 217666 dollars</li>
					<li>car numbers = 27 cars</li>
					<li>car ratio = 11%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 57 years old</li>
					<li>eduation range : from 14 to 16 years</li>
					<li>income range : from 54285 to 381047 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>