<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>Honda</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 45 years old</li>
					<li>education years = 14 years</li>
					<li>income = 76412 dollars</li>
					<li>car numbers = 311 cars</li>
					<li>car ratio = 44%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 30 to 60 years old</li>
					<li>eduation range : from 12 to 16 years</li>
					<li>income range : from 57533 to 95291 dollars</li>
					
				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 47 years old</li>
					<li>education years = 15 years</li>
					<li>income = 169254 dollars</li>
					<li>car numbers = 143 cars</li>
					<li>car ratio = 20%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 36 to 58 years old</li>
					<li>eduation range : from 14 to 16 years</li>
					<li>income range : from 103624 to 234884 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 49 years old</li>
					<li>education years = 13 years</li>
					<li>income = 25481 dollars</li>
					<li>car numbers = 244 cars</li>
					<li>car ratio = 34%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 31 to 67 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 12629 to 38333 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>