<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>Nissan</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 44 years old</li>
					<li>education years = 13 years</li>
					<li>income = 70127 dollars</li>
					<li>car numbers = 146 cars</li>
					<li>car ratio = 35%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 31 to 57 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 53647 to 86607 dollars</li>
					
				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 46 years old</li>
					<li>education years = 13 years</li>
					<li>income = 26383 dollars</li>
					<li>car numbers = 181 cars</li>
					<li>car ratio = 44%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 29 to 63 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 14026 to 38740 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 47 years old</li>
					<li>education years = 15 years</li>
					<li>income = 153900 dollars</li>
					<li>car numbers = 82 cars</li>
					<li>car ratio = 20%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 57 years old</li>
					<li>eduation range : from 14 to 16 years</li>
					<li>income range : from 99701 to 208099 dollars</li>

				</ul>
			</div>
		</div>
	</div>
</div>