<div class="inner-wrapper">
	<%= render 'group_links'%>

	<div class="col-sm-9 content">
		<%= link_to '<< Back', root_path %>
		<h1>Toyota</h1>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 1" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 48 years old</li>
					<li>education years = 15 years</li>
					<li>income = 178953 dollars</li>
					<li>car numbers = 150 cars</li>
					<li>car ratio = 15%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 37 to 59 years old</li>
					<li>eduation range : from 14 to 16 years</li>
					<li>income range : from 117683 to 240223 dollars</li>
					
				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 2" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 47 years old</li>
					<li>education years = 14 years</li>
					<li>income = 81763 dollars</li>
					<li>car numbers = 404 cars</li>
					<li>car ratio = 40%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 33 to 61 years old</li>
					<li>eduation range : from 12 to 16 years</li>
					<li>income range : from 62967 to 100559 dollars</li>

				</ul>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 3" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 37 years old</li>
					<li>education years = 13 years</li>
					<li>income = 25227 dollars</li>
					<li>car numbers = 196 cars</li>
					<li>car ratio = 19%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 27 to 47 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 10571 to 39883 dollars</li>

				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 4" %></h3>
			</div>
			<div class="panel-body">
				<ul>
					<li>age = 66 years old</li>
					<li>education years = 13 years</li>
					<li>income = 31532 dollars</li>
					<li>car numbers = 246 cars</li>
					<li>car ratio = 24%</li>

				</ul>
				<br>
				<p>number range:</p>
				<ul>
					<li>age range : from 56 to 76 years old</li>
					<li>eduation range : from 11 to 15 years</li>
					<li>income range : from 16003 to 47061 dollars</li>

				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= "CLUSTER 5" %></h3>
			</div>
			<div class="panel-body">
				<ul>

				</ul>
				<br>
				<p>number range:</p>
				<ul>

				</ul>
			</div>
		</div>
	</div>
</div>